.profile-title {
	text-align: center;
}

.profile-details {
	min-width: 380px;
	display: grid;
	grid-template-columns: minmax(min-content, 1fr);
	gap: 20px;
	margin-bottom: 15px;
}

.nested-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	.col-one {
		justify-self: end;
	}
}

.profile-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 20px;
}
