@use "../abstracts/" as *;

.login-signup {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.sign-in-up {
	min-width: 500px;
	min-height: 300px;
	display: grid;
	grid-template-rows: 1fr min-content;

	form {
		text-align: center;
		display: grid;
		grid-template-rows: 1fr;
		align-items: center;
	}

	p {
		text-align: center;
	}

	.button-container {
		padding: 1.5rem;
	}

	button {
		justify-self: center;
	}
}
