/** TABLE OF CONTENTS
    -- vendor imports
    -- base imports
    -- component imports
    -- layout imports
    -- pages imports
 **/

// vendor imports
@use "./vendors/bootstrap";

// base imports
@use "./base/base";

// component imports
@use "./components/card";
@use "./components/calendarContainer";
@use "./components/signInUp";

// layout imports
@use "./layout/header";
@use "./layout/footer";
@use "./layout/appContent";

// pages imports
@use "./pages/homePage";
@use "./pages/loginPage";
@use "./pages/profilePage";
@use "./pages/editEventPage";
